#PokemonList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

#pokemon {
    grid-template-columns: 3fr 1fr;
}

#pokeFilters {
    width: 50%;
}

.progress {
    width: 70%;
    height: 20px;
}

.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}
  
.popover-div {
    position: relative;
    display: inline-block;
}

.popover-body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 10px);
    top: 120px;
    background-color: #ffffff;
    padding: 1.5rem;
    width: auto;
}


.popover-div:hover .popover-body {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -60px);
    transition: all 0.5s ease-in-out(1);
}
.popover-content {
    text-align: center;
}

.header {
    width: fill;
    height: 5.5em;
    display: inline-block;
}

.dark {
    background-color: #343a40;
}
.black {
    background-color: #000000;
}

.logo {
    max-width: auto;
    max-height: auto;
}

.tete {
    visibility: hidden;
    content: "<center id='animation'></center>";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000000;
    left: 0;
    top: 0;
    opacity: 0.95;
    transition: all 0.5s ease;
}
.animationImg {
    top:33%;
    left:33%;
    display: absolute;
    transition: all 0.5s ease;
}

#cImg{
    width: 30%;
    height: 30%;
    display: absolute;
    visibility: hidden;
}
#nImg{
    width: 30%;
    height: 30%;
    display: absolute;
    visibility: hidden;
}